<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：最主要的作用就是绑定mapper.xml与对应那个Mapper接口的关系，要求接口名称为：全限定名 -->
<mapper namespace="edu.fdzc.shop.dao.CategoryMapper">
    <sql id="Base_Column_List">
        id,category_name,create_time,update_time
    </sql>

    <insert id="insert" parameterType="Category">
        insert into category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">
                id,
            </if>
            <if test="category_name!=null">
                category_name,
            </if>
            <if test="create_time!=null">
                create_time,
            </if>
            <if test="update_time!=null">
                update_time,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="id!=null">
                #{id},
            </if>
            <if test="categoryName!=null">
                #{categoryName},
            </if>
            <if test="createTime!=null">
                #{createTime},
            </if>
            <if test="updateTime!=null">
                #{updateTime},
            </if>
        </trim>

    </insert>

    <update id="update" parameterType="Category">
        update category
        <set>
            <if test="categoryName!=null">
                category_name=#{categoryName},
            </if>
            <if test="updateTime!=null">
                update_time=#{updateTime},
            </if>

        </set>
        where id=#{id}
    </update>

    <delete id="deleteById" parameterType="String">
        delete from category
        where id =#{id}
    </delete>

</mapper>