<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：最主要的作用就是绑定mapper.xml与对应那个Mapper接口的关系，要求接口名称为：全限定名 -->
<mapper namespace="edu.fdzc.shop.dao.ProductMapper">

    <sql id="Base_Column_List">
        id,category_id,product_name,description,detail,price,stock_count,create_time,update_time
    </sql>

    <insert id="insert" parameterType="Product">
            insert into product
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id!=null">
                    id,
                </if>
            </trim>


</mapper>